<h1> <%= @card.deck.name %></h1>

<div class="stage">

  <div class="flashcard">

    <div class="front">
      <p><%=@card.word %></p>
    </div>
  
    <div class="back">
      <p><%=@card.definition %></p>
      		<table>
						<th>yo</th>
						<th>tu</th>
						<th>el/ella/usted</th>
						<th>nosotros</th>
						<th>vosotros</th>
						<th>ellos/ellas/ustedes</th>
					<tr>
						<td><%=@card.conjugation.yo%></td>
						<td><%=@card.conjugation.tu%></td>
						<td><%=@card.conjugation.el_ella_usted%></td>
						<td><%=@card.conjugation.nosotros%></td>
						<td><%=@card.conjugation.vosotros%></td>
						<td><%=@card.conjugation.ellos_ellas_ustedes%></td>
					</tr>
				</table>
    </div>
  
  </div>  
</div>


	<% if @card.previous.present? %>
	<%= link_to "Previous", @card.previous, class:"round button" %>
	<% else %>
	<%= link_to "Back to Decks", decks_path, class:"round button" %>
	<% end %>

	<% if @card.next.present? %>
	<%= link_to "Next", @card.next, class:"round button" %>
	<% else %>
	<%= link_to "Back to Decks", decks_path, class:"round button" %>
	<% end %>

