<h1> <%= @card.deck.name %></h1>


	<h2>Word:</h2>
	<h2 class="subheader"><%= @card.word %></h2>


<div class="definition">
	<h2>Definition:</h2> 
	<h2 class="subheader"><%= @card.definition %></h2>
</div>

<div class="conj">
	<div class="title">Conjugation:</div>

	<table>
		<th>yo</th>
		<th>tu</th>
		<th>el/ella/usted</th>
		<th>nosotros</th>
		<th>vosotros</th>
		<th>ellos/ellas/ustedes</th>
	<tr>
		<td><%=@card.conjugation.yo%></td>
		<td><%=@card.conjugation.tu%></td>
		<td><%=@card.conjugation.el_ella_usted%></td>
		<td><%=@card.conjugation.nosotros%></td>
		<td><%=@card.conjugation.vosotros%></td>
		<td><%=@card.conjugation.ellos_ellas_ustedes%></td>
	</tr>
</table>


</div>

<% if @card.previous.present? %>
<%= link_to "Previous", @card.previous, class:"round button" %>
<% end %>

<% if @card.next.present? %>
<%= link_to "Next", @card.next, class:"round button" %>
<% end %>

